* {
	margin: 0px;
	padding: 0px;
}

#qq {
	width: 840px; /*宽*/
	height: 170px; /*高*/
	background: #fff; /*背景颜色*/
	margin: 0px auto 30px;
	border-radius: 5px; /*Html5 圆角*/
}

#qq p {
	font-size: 12px;
	color: #666;
	font-family: "微软雅黑";
	line-height: 45px;
	text-indent: 20px;
}

#qq .message {
	width: 760px;
	height: 70px;
	margin: 0px auto;
	outline: none;
	border: 1px solid #ddd; /*粗细 风格 颜色*/
	overflow:auto
}

#qq .But {
	width: 760px;
	height: 35px;
	margin: 15px auto 0px;
	position: relative; /*相对，参考对象*/
}

#qq .But img.bq {
	float: left; /*左浮动*/
}

#qq .But span .submit {
	width: 80px;
	height: 30px;
	background: #ff8140;
	display: block;
	float: right; /*右浮动*/
	line-height: 30px;
	border-radius: 5px;
	cursor: pointer; /*手指*/
	color: #fff;
	font-size: 12px;
	text-align: center;
	font-family: "微软雅黑";
}

/*face begin*/
#qq .But .face {
	width: 390px;
	height: 160px;
	background: #fff;
	padding: 10px;
	border: 1px solid #ddd;
	box-shadow: 2px 2px 3px #666;
	position: absolute; /*绝对定位*/
	top: 21px;
	left: 15px;
	display: none; /*隐藏*/
}

#qq .But .face ul li {
	width: 22px;
	height: 22px;
	list-style-type: none; /*去掉圆点*/
	float: left;
	margin: 2px;
	cursor: pointer;
}

/*msgCon begin*/
.msgCon {
	width: 840px;
	height: 500px;
	margin: 0px auto;
}

.msgCon .msgBox {
	background: #fff;
	padding: 10px;
	margin-top: 20px;
}

.msgCon .msgBox dl {
	height: 60px;
	border-bottom: 1px dotted #ddd;
}

.msgCon .msgBox dl dt {
	width: 50px;
	height: 50px;
	float: left;
}

.msgCon .msgBox dl dt img {
	border-radius: 25px;
}

.msgCon .msgBox dl dd {
	width: 720px;
	height: 50px;
	line-height: 50px;
	float: right;
	font-size: 16px;
	font-family: "微软雅黑";
}

.msgCon .msgBox .msgTxt {
	font-size: 12px;
	color: #666;
	line-height: 25px;
}
